body {
    text-align: center;
    background-image: url(images/background.png);
  }
  
  h1 {
    font-size: 5rem;
    color: #da0404;
    font-family: "Danfo", serif;
    text-shadow: 3px 0 #e0a86c;
  
  }
  
  footer {
    color: #DBEDF3;
    font-family: "Danfo", serif;
  }
  .linkedin{
    color: rgb(251, 251, 251)  ;
    text-decoration: none;
  }
  
  .w {
    background-image: url(images/crash.png);
  }
  
  .a {
    background-image: url(images/tom1.png);
  }
  
  .s {
    background-image: url(images/tom3.png);
  }
  
  .d {
    background-image: url(images/tom4.png);
  
  }
  
  .j {
    background-image: url(images/tom2.png);
  }
  
  .k {
    background-image: url(images/snare.png);
  }
  
  .l {
    background-image: url(images/kick.png);
  }
  
  .set {
    margin: 10% auto;
  }
  
  .game-over {
    background-color: red;
    opacity: 1;
  }
  
  .pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
    display: inline-block;
    position: relative;
    animation: jump 1.5s infinite;
  }
  
  .red {
    color: red;
  }
  
  .drum {
    outline: none;
    border: 8px solid #e0a86c;
    font-size: 5rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: #e0a86c;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: white;
  }

  @keyframes jump {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-30px);
    }
    40% {
        transform: translateY(-50px);
    }
    60% {
        transform: translateY(-30px);
    }
    80% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}